body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#root {
    height: 100%;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.grid {
    display: grid;
    grid-template-areas:
        "header header sidebar"
        "main main sidebar"
        "footer footer sidebar";
    grid-template-columns: 1fr 1fr 70px;
    grid-template-rows: auto 1fr auto;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.grid header {
    grid-area: header;
}

.grid main {
    grid-area: main;
    background-color: maroon;
}

.grid aside {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    grid-area: footer;
}
