:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --sidebar-width: 64px;
    --bottom-bar-height: 32px;
    --progress-bar-height: 25px;
    --progress-bar-radius: 50px;
    --border-radius: 8px;

    --space-1: 4px;
    --space-2: 8px;
    --space-3: 16px;
    --space-4: 32px;

    --font-size-1: 1rem;
    --font-size-2: 1.2rem;
    --font-size-3: 1.44rem;
    --font-size-4: 1.728rem;
    --font-size-5: 2.074rem;
    --font-size-6: 2.488rem;

    --color-text: #fff;
    --color-background-text: #363636;
    --color-primary-bg: #420808;
    --color-primary-text: var(--color-text);
    --color-primary-bg-hover: maroon;

    --color-secondary-bg: #094747;
    --color-secondary-text: #ecf0f1;
    --color-secondary-bg-hover: #006565;

    --color-success: #2b632d;
    --color-success-text: var(--color-text);
    --color-success-bg-hover: #4caf50;

    --color-warning: #bf7a0b;
    --color-warning-text: var(--color-text);
    --color-warning-bg-hover: #f39c12;

    --color-danger: #781616;
    --color-danger-text: var(--color-text);
    --color-danger-bg-hover: #960c0c;

    --color-disabled: #c0c0c0;
    --color-disabled-text: #ecf0f1;

    --color-accent: #1b2e94;

    --color-bg: #d1d1d1;
    --color-bg-checked: maroon;
    --color-border: #ccc;

    /* --breakpoint-tablet: 768px;  */
    /* --breakpoint-desktop: 992px;  */
}

@media (min-width: 768px) {
    :root {
        /* scale for 1.33 */
        --font-size-1: 1rem;
        --font-size-2: 1.333rem;
        --font-size-3: 1.777rem;
        --font-size-4: 2.369rem;
        --font-size-5: 3.157rem;
        --font-size-6: 4.209rem;
    }
}

body,
html,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    font-size: var(--font-size-6);
    line-height: 1.1;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.desktop-only {
  display: none;
}

@media (min-width: 768px) {
  .desktop-only {
    display: inline-block;
  }
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.title {
    margin: 0;
    font-weight: bold;
    text-align: center;
    font-size: var(--font-size-4);
}

.description {
    text-align: justify;
    font-size: var(--font-size-3);
    margin: var(--space-2) 0;
}

.readable-text {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    color: var(--color-text);
    font-size: var(--font-size-3);
    line-height: 1.4;
    padding: var(--space-2);
}

.card {
    padding: var(--space-2) var(--space-1);
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    text-align: center;
    text-justify: distribute;
    min-height: 100px;
    min-width: 100px;
    margin: 0 auto;
}

/* ===== ===== Parallax ===== ===== */
.parallax-section {
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    color: var(--color-text);
    z-index: -99;
}

.parallax-section .content {
    max-width: 90%;
    margin-top: calc(var(--progress-bar-height) + var(--space-4));
}

.parallax-section h1 {
    margin: 0;
    font-size: 3rem;
    line-height: 1.2;
}

.parallax-section p {
    margin: 10px 0 0;
    font-size: 1.25rem;
    line-height: 1.5;
}

.background-tube-tv-effect {
    --tube-tv-effect-space: 2px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -98;
    background: repeating-linear-gradient(0deg,
            /* Horizontal lines */
            rgba(0, 0, 0, 0.5) 0px,
            rgba(0, 0, 0, 0.5) var(--tube-tv-effect-space),
            transparent var(--tube-tv-effect-space),
            transparent calc(2 * var(--tube-tv-effect-space))),
        repeating-linear-gradient(90deg,
            /* Vertical lines */
            rgba(0, 0, 0, 0.5) 0px,
            rgba(0, 0, 0, 0.5) var(--tube-tv-effect-space),
            transparent var(--tube-tv-effect-space),
            transparent calc(2 * var(--tube-tv-effect-space)));
}

/* ===== ===== ===== Grid ===== ===== ===== */
.grid {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.grid main {
    margin: var(--progress-bar-height) var(--sidebar-width) 0 0;
    padding-bottom: 64px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.grid aside {
    position: fixed;
    right: 0;
    top: 0;
    bottom: var(--bottom-bar-height);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: var(--sidebar-width);
}

.grid footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    background-color: transparent;
    max-height: var(--bottom-bar-height);
    padding: var(--space-3) var(--space-4);
    margin: 0;
    justify-content: space-between;
}

@media screen and (min-width: 768px) {
    .grid footer {
        justify-content: center;
        gap: var(--space-4);
    }
}

/* ===== ===== Color ===== ===== */
.primary {
    background-color: var(--color-primary-bg);
    color: var(--color-primary-text);
}

.accent {
    background-color: var(--color-accent);
    color: var(--color-secondary-text);
}

.success {
    background-color: var(--color-success);
    color: var(--color-success-text);
}

.danger {
    background-color: var(--color-danger);
    color: var(--color-danger-text);
}

/* ===== ===== Button ===== ===== */
button {
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    font-size: var(--font-size-1);
    border-radius: var(--border-radius);
    text-transform: uppercase;
    background-color: var(--color-accent);
    color: var(--color-secondary-text);
}

button:hover {
    border-color: var(--color-border);
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

button:disabled {
    background-color: var(--color-disabled);
    color: var(--color-disabled-text);
    cursor: not-allowed;
}

button.primary:hover {
    background-color: var(--color-primary-bg-hover);
}

button.secondary:hover {
    background-color: var(--color-secondary-bg-hover);
}

button.accent:hover {
    background-color: var(--color-accent-bg-hover);
}

button.success:hover {
    background-color: var(--color-success-bg-hover);
}

button.warning:hover {
    background-color: var(--color-warning-bg-hover);
}

button.danger:hover {
    background-color: var(--color-danger-bg-hover);
}

/* ===== ===== ===== ProgressBar ===== ===== ===== */
.progress-bar-container {
    position: fixed;
    z-index: 99;
    width: 100%;
    height: var(--progress-bar-height);
    border-radius: 0 0 var(--progress-bar-radius) var(--progress-bar-radius);
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: #000;
}

.progress-bar {
    height: 100%;
    background-color: var(--color-accent);
    transition: width 0.5s ease-in-out;
    border-radius: 0 0 0 var(--progress-bar-radius);
}

.progress-bar-label {
    position: absolute;
    right: var(--space-4);
    font-size: var(--font-size-1);
    font-weight: bold;
    color: var(--color-text);
}

/* ===== ===== ===== Sidebar ===== ===== ===== */
aside button {
    margin: var(--space-1) 0;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

/* ===== ===== ===== Footer ===== ===== ===== */
.grid footer button {
    border-radius: var(--border-radius) var(--border-radius) 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    text-wrap: nowrap;
    min-width: 120px;
}

@media screen and (min-width: 576px) {
    .grid footer button {
        gap: 5px;
        padding: var(--space-3);
    }
}

/* ===== ===== ===== Form ===== ===== ===== */
fieldset {
    border-radius: var(--border-radius);
}

input[type=checkbox],
input[type=radio] {
    display: none;
}

fieldset legend {
    font-size: var(--font-size-3);
    text-align: center;
}

input:invalid {
    background-color: var(--color-danger);
}

.radio-group,
.checkbox-group {
    display: flex;
    justify-content: space-evenly;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
}

.input-text-container {
    display: flex;
    justify-content: stretch;
}

input[type=text] {
    height: auto;
    background-color: var(--color-bg);
    color: var(--color-background-text);
    /* font-weight: 500; */
    font-size: var(--font-size-2);
    width: 100%;
}

.input-clickable-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;

    --square-size: 120px;
    width: var(--square-size);
    height: var(--square-size);
    border: 1px solid var(--color-border);
    cursor: pointer;
    background-color: var(--color-bg);
    color: var(--color-background-text);
    transition: background-color 0.3s ease;
    margin: var(--space-1);
}

.input-clickable-container.checked,
.input-clickable-container.selected {
    background-color: var(--color-bg-checked);
    border: 1px solid transparent;
}

.input-clickable-container label {
    pointer-events: none;
    text-align: center;
}

.input-clickable-container:has(input[type="radio"]) {
    border-radius: 50%;
}

.input-clickable-container:has(input[type="checkbox"]) {
    border-radius: var(--border-radius);
}

input[type="text"] {
    padding: var(--space-3);
    border: 1px solid var(--color-secondary-bg);
    border-radius: var(--border-radius);
    font-family: var(--font-family-secondary);
}

/* input,
label {
    position: relative;
    display: inline-block;
    vertical-align: middle;
} */

/* ===== ===== ===== Dialog Modal ===== ===== ===== */
dialog .modal-header {
    display: flex;
    justify-content: space-between;
    margin: var(--space-3) var(--space-3);
}

dialog .modal-header .title {
    margin-right: var(--space-3);
}

dialog .modal-button-container {
    margin-top: var(--space-4);
    padding: 0 var(--space-3) var(--space-4) var(--space-3);
}

dialog p.description {
    margin-left: var(--space-3);
}

dialog::-webkit-backdrop,
dialog::backdrop {
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
}

dialog {
    border-radius: var(--border-radius);
    background-color: var(--color-secondary-bg);
    padding: var(--space-2) 0;
}

dialog[open] {
    -webkit-animation: slide-up 500ms forwards, fade-in 500ms forwards;
    animation: slide-up 500ms forwards, fade-in 500ms forwards;
}

form[method="dialog"] {
    margin: 0 var(--space-3);
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes slide-up {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}

/* ===== ===== Answer ===== ===== */
.answer-container {
    display: flex;
    flex-direction: column;
}

.answer-card {
    margin: var(--space-4) var(--sidebar-width) var(--space-4) var(--space-3);
    padding: var(--space-4) var(--space-3);
    border: 1px solid transparent;
    border-radius: var(--border-radius);
    background-color: var(--color-secondary-bg);
    color: var(--color-secondary-text);
    max-width: 700px;
}

.answer-card.selected {
    border: 1px solid var(--color-border);
}

.answer-button-container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: var(--space-3);
}

.answer-button-container button {
    padding: var(--space-3) var(--space-4);
}

/* ===== ===== Image ===== ===== */
.image-subtitle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: var(--space-1);
    color: var(--color-text);
    background: rgba(0, 0, 0, 0.6);
    font-size: var(--font-size-1);
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    max-height: 50vh;
}

@media screen and (max-width: 600px) {
    .image-container {
        max-width: 100%;
    }

    .image-container img {
        max-height: 240px;
    }

    .image-subtitle {
        font-size: 1em;
        padding: var(--space-1);
    }
}
