:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --sidebar-width: 64px; 
    --bottom-bar-height: 32px;
    --progress-bar-height: 25px;
    --progress-bar-radius: 50px;

    --border-radius: 8px;

    --space-1: 4px;
    --space-2: 8px;
    --space-3: 16px;
    --space-4: 32px;

    --font-size-1: 1rem;
    --font-size-2: 1.2rem;
    --font-size-3: 1.44rem;
    --font-size-4: 1.728rem;
    --font-size-5: 2.074rem;
    --font-size-6: 2.488rem;

    --color-primary-bg: #202C39;
    --color-primary-text: #fff;

    --color-accent: #e74c3c;
    --color-background: #a9a9a9;

    --color-card-bg: #fff;
    --color-secondary-bg: #34495e;
    --color-secondary-text: #34495e;
    --color-modal-bg: rgba(0, 0, 0, 0.8);

    --color-success: #4caf50;
    --color-disabled: #c0c0c0;
    --color-background-checked: maroon;
    --color-border: #ccc;
    --color-text: #333;

    --button-primary-bg: #202C39;
    --button-primary-text: #ecf0f1;

    --button-secondary-bg: #34495e;
    --button-secondary-text: #ecf0f1;

    --button-success-bg: #2ecc71;
    --button-success-text: #ffffff;

    --button-warning-bg: #f39c12;
    --button-warning-text: #ffffff;

    --button-error-bg: #c0392b;
    --button-error-text: #ffffff;

    --button-disabled-bg: #34495e;
    --button-disabled-text: #ecf0f1;

    --button-primary-bg-hover: pink;
    --button-secondary-bg-hover: pink;
    --button-success-bg-hover: pink;
    --button-warning-bg-hover: pink;
    --button-error-bg-hover: pink;
}

@media screen and (min-width: 800px) {
    :root {
        /* scale for 1.33 */
        --font-size-1: 1rem;
        --font-size-2: 1.333rem;
        --font-size-3: 1.777rem;
        --font-size-4: 2.369rem;
        --font-size-5: 3.157rem;
        --font-size-6: 4.209rem;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#root {
    height: 100%;
    margin: 0;
    padding: 0;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

.card {
    padding: var(--space-2);
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    text-align: center;
}

.title {
    margin: 0;
    font-weight: bold;
    text-align: center;
    font-size: var(--font-size-4);
}

.description {
    text-align: justify;
    font-size: var(--font-size-3);
    /* margin: var(--space-2) 0  var(--space-2) var(--space-4); */
}

/* ===== ===== Color ===== ===== */
.primary {
    background-color: var(--button-primary-bg);
    color: var(--button-primary-text);
}

.accent {
    background-color: var(--color-accent);
    color: var(--button-secondary-text);
}

.success {
    background-color: var(--button-success-bg);
    color: var(--button-success-text);
}

.danger {
    background-color: var(--button-error-bg);
}

/* ===== ===== Button ===== ===== */
button {
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    background-color: var(--color-background);
    font-size: var(--font-size-1);
    border-radius: var(--border-radius);
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

button:disabled {
    background-color: var(--button-disabled-bg);
    color: var(--button-disabled-text);
}

button:disabled {
    cursor: not-allowed;
    opacity: 0.3;
}

button.primary:hover {
    background-color: var(--button-primary-bg-hover);
}

button.secondary:hover {
    background-color: var(--button-secondary-bg-hover);
}

button.success:hover {
    background-color: var(--button-success-bg-hover);
}

button.warning:hover {
    background-color: var(--button-warning-bg-hover);
}

button.danger:hover {
    background-color: var(--button-error-bg-hover);
}

/* ===== ===== ===== Grid ===== ===== ===== */
.grid {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.grid main {
    margin: var(--progress-bar-height) var(--sidebar-width) 0 0;
    padding-bottom: var(--bottom-bar-height);
    width: 100%;
}

.grid aside {
    position: fixed;
    right: 0;
    top: 0;
    bottom: var(--bottom-bar-height);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: var(--sidebar-width);
}

.grid footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: var(--space-3) var(--space-4);
    /* margin-right: var(--sidebar-width); */
    max-height: var(--bottom-bar-height);
}

/* ===== ===== ===== ProgressBar ===== ===== ===== */
.progress-bar-container {
    position: fixed;
    z-index: 99;
    width: 100%;
    height: var(--progress-bar-height);
    border-radius: 0 0 var(--progress-bar-radius) var(--progress-bar-radius);
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: #000;
}

.progress-bar {
    height: 100%;
    background-color: var(--color-secondary-bg);
    transition: width 0.5s ease-in-out;
    border-radius: 0 0 0 var(--progress-bar-radius);
}

.progress-bar-label {
    position: absolute;
    right: var(--space-4);
    font-size: var(--font-size-1);
    font-weight: bold;
    color: #fff;
}

/* ===== ===== ===== Sidebar ===== ===== ===== */
aside button {
    margin: var(--space-1) 0;
}

/* ===== ===== ===== Form ===== ===== ===== */
fieldset {
    border: none;
}

input[type=checkbox],
input[type=radio] {
    display: none;
}

fieldset legend {
    font-size: var(--font-size-3);
    text-align: center;
}

input:invalid {
    background-color: var(--button-error-bg);
}

.radio-group,
.checkbox-group {
    display: flex;
    justify-content: space-evenly;
}

input[type=text] {
    width: 100%;
    height: auto;
    background-color: var(--color-background);
    color: var(--color-primary-text);
}

.input-clickable-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.input-clickable {
    --square-size: 120px;
    width: var(--square-size);
    height: var(--square-size);
    border: 1px solid var(--color-border);
    cursor: pointer;
    background-color: var(--color-background);
    color: var(--color-primary-text);
    transition: background-color 0.3s ease;
}

.input-clickable.checked,
.input-clickable.selected {
    background-color: var(--color-background-checked);
}

.input-clickable-container label {
    pointer-events: none;
    text-align: center;
}

.input-clickable-container:has(input[type="radio"]) {
    border-radius: 50%;
}

.input-clickable-container:has(input[type="checkbox"]) {
    border-radius: var(--border-radius);
}

input[type="text"] {
    padding: var(--space-3);
    border: 1px solid var(--color-secondary-bg);
    border-radius: var(--border-radius);
    font-family: var(--font-family-secondary);
}

/* input,
label {
    position: relative;
    display: inline-block;
    vertical-align: middle;
} */

/* ===== ===== ===== Dialog Modal ===== ===== ===== */
dialog .dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dialog-header .title {
    margin: 0 auto;
}

.modal::-webkit-backdrop,
.modal::backdrop {
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
}

.modal {
    border-radius: var(--border-radius);
}

.modal[open] {
    -webkit-animation: slide-up 1000ms forwards, fade-in 500ms forwards;
    animation: slide-up 1000ms forwards, fade-in 500ms forwards;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes slide-up {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}

/* ===== ===== Answer ===== ===== */
.answer-container {
    /* padding: var(--space-4); */
    margin: var(--space-3) var(--sidebar-width) var(--space-3) var(--space-3);
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
}
